name: DEV CI/CD

env:
  S3_BUCKET_NAME: issac-dev
  PROJECT_NAME: issac_server
  EB_APP_NAME: issac-dev
  EB_ENV_NAME: issac-dev-env

on:
  release:
    types: [ push ]
  push:
    branches: [ develop ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle
        run: ./gradlew clean build
        shell: bash

      - name: Prepare deployment package
        run: |
          mkdir -p deploy
          cp build/libs/*-SNAPSHOT.jar deploy/application.jar
          echo "web: java -jar application.jar > application.log 2>&1" > deploy/Procfile
          cd deploy && zip -r $PROJECT_NAME *
        shell: bash

      - name: Get current time
        id: current-time
        run: echo "formattedTime=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV

      - name: Beanstalk Deploy
        uses: einaregilsson/beanstalk-deploy@v20
        with:
          aws_access_key: ${{secrets.AWS_ACCESS_KEY}}
          aws_secret_key: ${{secrets.AWS_SECRET_KEY}}
          application_name: issac-dev
          environment_name: Issac-dev-env
          version_label: github-action-${{ env.formattedTime }}
          region: ap-northeast-2
          deployment_package: deploy/${{ env.PROJECT_NAME }}.zip
          wait_for_environment_recovery: 180